<!-- {% for link in site.links1 %}
	{% assign cout = 0 %}
	{% if link.type == site.blog_1 %}
		{% for post in site.posts %}
			{% assign count = count | plus: 1 %}
		{% endfor %}
	{% endif %}

	{% if link.type == site.blog_2 %}
		{% for post in site.posts %}
			{% assign count = count | plus: 1 %}
		{% endfor %}
	{% endif %}

	{% if link.type == site.blog_3 %}
		{% for post in site.posts %}
			{% assign count = count | plus: 1 %}
		{% endfor %}
	{% endif %}
{% endfor %} -->

  <a href="{{ site.github.repository_url }}" class="button fork"><strong>View On GitHub</strong></a>
        <a href="/about" class="button"><strong>ABOUT</strong></a>
        <a href="/about" class="button"><strong>Nav</strong></a>
        <a href="/about" class="button"><strong>Bio</strong></a>
        <a href="/about" class="button"><strong>Notes</strong></a>